
form#tweet-form {
  display: flex;
  flex-direction: column;
}

label#tweet-label {
  font-weight: bold;
}

textarea#tweet-text {
  margin-top: 0.37em;
  background: inherit;
  font-weight: bold;
  border: none;
  resize: none;
  border-bottom: 0.15em solid;
  outline: none;
}

button#tweet-button {
  font-family: "Bungee", curisve;
  font-size: 18px;
  color: white;
  background-color: #4056A1;
  border: none;
}

div#button-counter-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.37em;
}

output.counter {
  font-family: "Bungee", cursive;
}

output.counter[negative="true"] {
  font-family: "Bungee", cursive;
  color: red;
}