div#scroll-to-top {
  display: flex;
  color: white;
  background: red;
  border-radius: 50%;
  bottom: 3%;
  right: 1%;
  height: 2em;
  width: 2em;
  font-size: 36;
  padding: 0.6em;
  position: fixed;
  box-shadow: 2px 2px 2px 2px #0000000f;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

div#scroll-to-top[hidden="false"] {
  visibility: initial;
  cursor: pointer;
}